
div {
   padding: 20px;
   border: 3px;
   text-align: inherit;
   ;
}
p {
   font-size: 70px;
   text-align: center;

}

img {
   float: right;
   margin-right: 66px;
}

body {
   background-color: #f8f8f5;
}

h1 {
   font-family: 'Bungee Hairline', cursive;
   font-size: 34px;
   margin-top: 50px;
   margin-left: 360px;
}

h2 {
   font-family: 'Bungee Hairline', cursive;
   font-size: 34px;
   margin-left: 540px;
}

h3 {
   font-family: 'Bungee Hairline', cursive;
   font-size: 25px;
   margin-left: 570px;
}

.box {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-gap: 50px;
   grid-auto-rows: 100px;
   grid-template-areas:
   "a b b b c d d d"
   "a b b b c d d d"
   "e f f f g h h h"
   "e f f f g h h h"
   "i j j j k l l l"
   "i j j j k l l l"
   "m n n n o p p p"
   "m n n n o p p p"
   "q r r r s t t t"
   "q r r r s t t t";
   padding-left: 50px;
   padding-right: 40px;
   margin-left: 20px;
   margin-right: 20px;
}


#mydiv {
   font-size: 16px;
}

#mydiv a {
   font-size: 38px;
   text-align: justify;
}

#mydiv1 {
   font-size: 16px;
}

#mydiv1 a {
   font-size: 38px;
   text-align: justify;
}

#mydiv2 {
   font-size: 16px;
}

#mydiv2 a {
   font-size: 38px;
   text-align: justify;
}

#mydiv3 {
   font-size: 16px;
}

#mydiv3 a {
   font-size: 38px;
   text-align: justify;
}

#mydiv4 {
   font-size: 16px;
}

#mydiv4 a {
   font-size: 38px;
   text-align: justify;
}

#mydiv5 {
   font-size: 16px;
}

#mydiv5 a {
   font-size: 38px;
   text-align: justify;
}

#mydiv6 {
   font-size: 16px;
}

#mydiv6 a {
   font-size: 38px;
   text-align: justify;
}

#mydiv7 {
   font-size: 16px;
}

#mydiv7 a {
   font-size: 38px;
   text-align: justify;
}

#mydiv8 {
   font-size: 16px;
}

#mydiv8 a {
   font-size: 38px;
   text-align: justify;
}

#mydiv9 {
   font-size: 16px;
}

#mydiv9 a {
   font-size: 38px;
   text-align: justify;
}
